{% include "parciais/head.html" %}
{% include "parciais/nav.html" %}

<div class="container" style="margin-top: 10%;">
    <input type="reset" value="cadastrar produto" onclick="location.href='{% url 'adicionar-produto'%}'">
    <input type="reset" value="cadastrar fotos" onclick="location.href='{% url 'adicionar-fotos'%}'">

    <div class="container">
        <div class="row">
            {% for produto in produtos %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        {% if produto.foto_principal %}
                            <img src="{{ produto.foto_principal.imagem.url }}" class="card-img-top" alt="Imagem do Produto">
                        {% else %}
                            {% for foto in produto.fotos.all|slice:"-1" %}
                                {% if foto.principal %}
                                    <img src="{{ foto.imagem.url }}" class="card-img-top" alt="Imagem do Produto">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-primary">Nome: {{ produto.nome }}</h5>
                            <p class="card-text">Descrição: {{ produto.descricao }}</p>
                            <p class="card-text">Ingredientes:</p>
                            <ul>
                                {% for ingrediente in produto.ingredientes.all %}
                                    {% if ingrediente.quantidade_em_estoque < 10 %}
                                        <li style="color: red;">{{ ingrediente.nome }} - Quantidade: {{ ingrediente.quantidade_em_estoque }}</li>
                                    {% else %}
                                        <li>{{ ingrediente.nome }} - Quantidade: {{ ingrediente.quantidade_em_estoque }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <a href="{% url 'editar-produtos' produto.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'detail-produtos' produto.id %}" class="btn btn-info">Visualizar</a>
                            <a href="{% url 'delete-produtos' produto.id %}" class="btn btn-danger">Apagar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
