{% extends "base.html" %}
{% include "parciais/head.html" %}
{% include "parciais/nav.html"  %}
{% block 'content' %}
<h1 style="margin-top:10%;">Seu Carrinho - {{ usuario }}</h1>
<div class="containser">
    <div class="carrinho">
        {% for item in carrinho %}
            <div class="item-carrinho">
                <h2>{{ item.produto.nome }}</h2>
                <!-- Exibir a foto do produto -->
                {% for foto in item.fotos.all %}
                    {% if foto.principal %}
                    
                        <img src="{{ foto.imagem.url }}" alt="{{ item.produto.nome }}" style="width: 100px; height: 100px;">
                    {% endif %}
                {% endfor %}
                <p>Preço Unitário: ${{ item.preco }}</p>
                <p>Quantidade: {{ item.quantidade }}</p>
                <form method="post" action="{% url 'remover_do_carrinho' produto_id=item.produto.pk %}">
                    {% csrf_token %}
                    <button type="submit">Remover</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <p>Total: ${{ total|floatformat:"2" }}</p>
    <form action="{% url 'processar_pagamento' %}" method="post">
        {% csrf_token %}
        <select name="forma_pagamento">
            <option value="cartao_credito">Cartão de Crédito</option>
            <option value="cartao_debito">Cartão de Débito</option>
            <option value="dinheiro">Dinheiro</option>
            <option value="pix">PIX</option>
        </select>
        <button type="submit">Pagar</button>
        <input type="reset" value="Adicionar Itens" onclick="location.href='{% url 'cardapio'%}'">
    </form>
{% endblock %}
